* {
	margin: 0;
	text-decoration: none;
}
body {
	margin: 0px;
	font-family: helvetica;
}
.prevent {
	background-color: #eefbff;
}
.judul-prevent {
	color: #423f54;
	border-bottom: 1.5px solid #423f54;
	text-align: center;
	margin: 0px 75px;
	padding: 10px 0px;
}
.isi-prevent {
	display: flex;
	justify-content: center;
}
img {
	height: 120px;
	width: 100px;
}
.prevent-icon {
	margin: 55px 50px;
	background-color: white;
	text-align: center;
    padding: 30px;
    box-sizing: border-box;
    border-radius: 25px;
    cursor: pointer;

}
.prevent-icon:hover {
	box-shadow:  0px 0px 30px 1px rgba(0,0,0,0.3);
	opacity: 0,5;
}
.prevent-icon p {
	font-size: 15px;
	color: #6184c9; 
}
.muncul {
	width: 0;
	height: 0;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	background-color: rgba(0,0,0,.3);
	z-index: 9;
	cursor: default;
}
.muncul:target {
	height: auto;
	width: auto;
    left: 0;
    bottom: 0;
    animation: animasi 1s;
}
.muncul img {
	margin-top: 100px;
	max-height: 100%;
	height: 400px;
	width: 350px;
}
.muncul p {
	font-size: 35px;
	color: white; 
}
.muncul .close {
	position: absolute;
	top: 120px;
	right: 35%;
	color: white;
	font-size: 20px;
}

/*animasi*/
@keyframes animasi {

	0% {
		transform: scale(0);
		opacity: 0;
	}
	100% {
		transform: scale(1);
		opacity: 1
	}
}

/*mobile*/
@media all and (max-width: 680px) {
	    .isi-prevent {
	    	flex-wrap: wrap;
	    }
	    .muncul .close {
	    	right: 15%;
	    }
}

/*tablet*/
@media all and (max-width: 1000px) {
	    .prevent-icon {
	    	margin: 50px 10px;
	    }
}
